// Mixins
@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex_wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;    
}
@mixin flex_container($direction, $width, $height, $justy, $align){
    display: flex;
    flex-direction: $direction;
    width: $width;
    height: $height;
    justify-content: $justy;
    align-items: $align;   
}